@import "variable.scss";
.top-container{
  background-image: url("../img/top-img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  .content{
    position: relative;
    z-index: 2;
  }
  nav{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    z-index: 3;
    
  }
}
.top-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.slider {
  height: 50vh;
  transition: all .8s ease;
}

.slider-item {
  position: relative;
  flex: 1;
  cursor: pointer;
  transition: flex .8s ease;
}
.slider-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity : 0;
  z-index: 1;
}
.slider-item {
  .btn, h3{
    position: relative;
    z-index: 2;
    opacity : 0;
    transform: translateY(75%);
    transition: .8s ease;
  }
}
.slider-item:hover::before {
  opacity: 0.7;
}
.slider-item:hover {
  flex: 2;
}
.slider-item:hover {
  .btn, h3{
  opacity : 1;
  transform: translateY(0%);
  }
}

.slider-1{
  background-image: url("../img/bmw-i5.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: flex .8s ease;
}
.slider-2{
  background-image: url("../img/bmw-i5-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: flex .8s ease;
}
.slider-3{
  background-image: url("../img/bmw-i5-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: flex .8s ease;
}


@import "~bootstrap/scss/bootstrap";
